@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

.radial-progress {
  @circle-size: 120px;
  @circle-background: #d6dadc;
  @circle-color: #97a71d;
  @inset-size: 90px;
  @inset-color: #fbfbfb;
  @transition-length: 1s;
  @shadow: 6px 6px 10px rgba(0,0,0,0.2);
  @percentage-color: #97a71d;
  @percentage-font-size: 22px;
  @percentage-text-width: 57px;

  margin: 50px;
  width:  @circle-size;
  height: @circle-size;

  background-color: @circle-background;
  border-radius: 50%;
  .circle {
    .mask, .fill, .shadow {
      width:    @circle-size;
      height:   @circle-size;
      position: absolute;
      border-radius: 50%;
    }
    .shadow {
      box-shadow: @shadow inset;
    }
    .mask, .fill {
      -webkit-backface-visibility: hidden;
      transition: -webkit-transform @transition-length;
      transition: -ms-transform @transition-length;
      transition: transform @transition-length;
      border-radius: 50%;
    }
    .mask {
      clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
      .fill {
        clip: rect(0px, @circle-size/2, @circle-size, 0px);
        background-color: @circle-color;
      }
    }
  }
  .inset {
    width:       @inset-size;
    height:      @inset-size;
    position:    absolute;
    margin-left: (@circle-size - @inset-size)/2;
    margin-top:  (@circle-size - @inset-size)/2;

    background-color: @inset-color;
    border-radius: 50%;
    box-shadow: @shadow;
    .percentage {
      height:   @percentage-font-size;
      width:    @percentage-text-width;
      overflow: hidden;

      position: absolute;
      top:      (@inset-size - @percentage-font-size) / 2;
      left:     (@inset-size - @percentage-text-width) / 2;

      line-height: 1;
      .numbers {
        margin-top: -@percentage-font-size;
        transition: width @transition-length;
        span {
          width:          @percentage-text-width;
          display:        inline-block;
          vertical-align: top;
          text-align:     center;
          font-weight:    800;
          font-size:      @percentage-font-size;
          font-family:    "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color:          @percentage-color;
        }
      }
    }
  }

  @i: 0;
  @increment: 180deg / 100;
  .loop (@i) when (@i <= 100) {
    &[data-progress="@{i}"] {
      .circle {
        .mask.full, .fill {
          -webkit-transform: rotate(@increment * @i);
          -ms-transform: rotate(@increment * @i);
          transform: rotate(@increment * @i);
        } 
        .fill.fix {
          -webkit-transform: rotate(@increment * @i * 2);
          -ms-transform: rotate(@increment * @i * 2);
          transform: rotate(@increment * @i * 2);
        }
      }
      .inset .percentage .numbers {
        width: @i * @percentage-text-width + @percentage-text-width;
      }
    }
    .loop(@i + 1);
  }
  .loop(@i);
}




body {
  padding-top:107px;
  background-color: #f5f4f4;
}
#logo{
  font-family: 'Lobster', cursive;
  color: #5cdcfb;
  font-size: 43px;
  letter-spacing: 1.3px;
  margin-left: 30px;
}


.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #5cdcfb;
  color: white;
}

.totalForm{
  width: 100%;
  padding: 2%;
}
.moneyForm{
  width: 100%;
  border: 1px solid #5cdcfb;
  padding: 5px;
}


#navTextRight{
  margin: 0;
}
.goalImgWithText{
  padding-top: 16px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;

}
.moneyButtDiv{
  text-align: center;
  padding: 10px;
  }

.groupGoalDiv{
  /*text-align: center;*/
}

.goalDescription{
  color: #045c71;
  font-style: italic;
}
.goalImage{
  border: 2px solid #5cdcfb;
  max-width: 100%;
  float: left;
  margin-right: 20px;
  margin-left: 10px;
}
#profilePic{
   border: 2px solid #5cdcfb;
   margin: 20px;
}

.groupMembers{
  padding: 1%;
}

.membersDiv{
  margin: 0px 10px 10px 10px;
  text-align: center;
  border-top: 2px solid #5cdcfb;

}

#groupParticipants{
  color: #fc5c4b;
  font-size: 16px;
}

#profileInfo{
  margin-top: 12px;
  color: #f65c4b;
  font-size: 16px;
}
.groupIcon{
  float: left;
}

.socialMedia{
  padding: 10px;
}
/*.moneyForm{
min-width: 300px;*/
.piggyRow{
  margin-top: 10%;
  margin-left: 17%;

}
#donateTitle{
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}
.moneyButtons{
  background-color: #045c71;
  padding-left: 4%;
  padding-right:4%;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  border-radius: 5px;
  margin-right: 1%;
  margin-bottom: 2%;
  border: 2px solid #5cdcfb;
}
#donateButton{
    background-color: #32c8ec;
    border: 2px solid #5cdcfb;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    margin-top: -10px;
}


#groupGoalTitle{
  display: inline-block;
  font-family: 'Lobster', cursive;
  background-color: #045c71;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 26%;
  margin-top: 8%;
  width: 100%;
}

.goalDiv{
  text-align: left;
}
#totalDonation{
   margin-bottom: 10px;
   padding: 10px;
   margin-top: -10px;
}

h3{
  font-family: 'Lobster', cursive;
  color: #f05b47;
}

#envelope{
  color: #28d2fb;
  margin-right: 10px;
}

.profileDiv{
  padding: inherit;
  background-color: white;
  border: 1px solid #5cdcfb;
}

#goalText{
  float: left;
  margin-left: 10px;
  color: white;
  font-size: 27px;
  line-height: .3;
  color: #5cdcfb;
  letter-spacing: .5px;
}

.navbar-inverse {
    /* background-color: #222; */
    border-color: #5cdcfb;
  }
.navbar-header .navbar-right{
  margin-right: 5%;
}
.navbar-header {
  float: none;
  background-color: #045c71;
  padding: 19px;
}
#signIn{
  color: white;
}
.navbar-toggle {
  display: inline-block;
  border: none;
  float: none;
  margin-right: 7px;
}

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 12px;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin-top: 7.5px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in{
  display:block !important;
}


@media screen and (max-width: 768px){
  body {
   padding-top:107px;
  }
}

@media screen and (max-width: 414px){
  body {
   padding-top:120px;
  }
  .navbar-header {
    padding-top: 16px;
    padding-right: 14px;
    padding-bottom: 7px;
    padding-left: 14px;
  }  
  #signIn{
    margin-left: 36px;
  }
  .goalImage{
    float: none;
  }
  
   .goalDiv{
    text-align: center;
   }
  
}

